@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
/* DEFAULTS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* VARIABLES */
    --background-color: beige;
    --gradient-top: rgba(255, 250, 240, 0.8);
    --gradient-bottom: rgba(255, 255, 255, 0.6);
    --header-color: green;

    /* STYLE */
    background-image: linear-gradient(var(--gradient-top), var(--gradient-bottom)), url("../images/background.jpg");
    color: green;
    font: 20px 1.618;
    font-family: 'Questrial', sans-serif;
}

body{

}

button:hover {
    background-color: tan;
}

ul{
    list-style: none;
}

a{
    text-decoration: inherit;
    color: inherit;
}
/* UTILS */

.hidden{
    display: none;
}

/* SITE CONTAINERS */

.container {
    padding: 1rem;
    margin: auto;
    margin-top: 7rem;
}

.wrapper{
    text-shadow: 5px 5px 10px grey;
}

/* HEADER STUFF */
.site-header{
    background-color: var(--header-color);
    box-shadow: 0 0 10px #000000c5;
    color: var(--background-color);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.site-title {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    text-shadow: 0 0 10px #000000c5;
}

.site-title__header-title {
}

.site-title__header-subtitle {
    font-size: 0.92rem;
}

.site-nav{
padding-right: 1rem;
}


.site-nav__list {
    padding-top: 0.5rem;
}

.site-nav__list-item {
    padding-bottom: 0.5rem;
}

.site-nav__list-item-button {
    background-color: var(--background-color);
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px #000000c5;
    color: var(--header-color);
    padding: 0.3rem;
    width: 6rem;
}

/* MENU STUFF */

.menu {
    background-color: var(--header-color);
    box-shadow: 0 0 10px #000000c5;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 6.6rem;
    width: 100vw;
    z-index: 2;
}

.menu-list{
    padding: 1rem;
    width: 80%
}

.menu-list__item{
    justify-content: center;
    display: flex;
    padding: 0.4rem;
}

.menu-list__item-button{
    background-color: var(--background-color);
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px #000000c5;
    color: var(--header-color);
    padding: 0.4rem;
    font-size: 1.5rem;
    width: 90%;
}

.menu-list__hide-button {
    background-color: var(--background-color);
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px #000000c5;
    color: var(--header-color);
    padding: 0.3rem;
    position: absolute;
    right: 1rem;
}

/* ITEM GRID STUFF */

.item-grid{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 15rem));
    justify-content: space-evenly;
}

.item-box{
    background-color: white;
    border-style: solid;
    border-color: var(--header-color);
    border-radius: 1rem;
    border-width: 2px;
    box-shadow: 0 0 10px #000000c5;
    display: flex;
    flex-direction: column;
    height: 24rem;
    justify-content: space-between;
    width: 15rem;
}

.item-box:hover {
    transform: scale(1.05);
}

.item-figure{
    position: relative;
    width: 12rem;
    height: 14.5rem;
    top: 1.5rem;
    left: 1.5rem;
    display: flex;
    justify-content: center;
}

.item-figure__img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border: none;
}

.item-name-header {
    margin-top: 1rem;
    text-align:center;
}

.item-info-span {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}