@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: green;
    border-width: 2px;
}

html {
    /* VARIABLES */
    --background-color: #d3d3ff;
    --gradient-top: rgba(255, 250, 240, 0.8);
    --gradient-bottom: rgba(255, 255, 255, 0.6);

    /* STYLE */
    font: 20px 1.618;
    font-family: 'Questrial', sans-serif;
    background-image: linear-gradient(var(--gradient-top), var(--gradient-bottom)), url("../images/background.jpg");

    border: none;
}

body{
    border: none;
}

.container {
    padding: 1rem;
    margin: auto;
}

.wrapper{
    border: none;
}

.item-grid{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 15rem));
    justify-content: space-evenly;
}

.item-box{
    border-style: solid;
    border-color: green;
    border-radius: 1rem;
    border-width: 2px;
    box-shadow: 0 0 10px #000000c5;
    display: flex;
    flex-direction: column;
    height: 24rem;
    justify-content: space-between;
}

.item-figure{
    display: flex;
    justify-content: center;
    margin: 1rem;
    object-fit: contain;
}

.item-figure__img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.item-name-header {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.item-info-span {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}