* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: red;
    border-width: 2px;
}

html {
    --background-color: #d3d3ff;
    border: none;
}

body{
    background-color: var(--background-color);
    border: none;
}

.container {
    padding: 1rem;
    margin: auto;
}

.wrapper{
    border: none;
}

.item-grid{
    border-color: purple;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 15rem));
    justify-content: center;
}

.item-box{
    border-color: green;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24rem;
}

.item-figure{
    display: flex;
    height: 80%;
    justify-content: center;
    margin: auto;
    object-fit: contain;
    width: 80%;
    
}

.item-figure__img{
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

.item-name-header {

}

.item-info-span {
    
}